body{

    background-color:#FFFCF7;

    font-family:'Gluten', sans-serif;

    color:#738290;

}


.navbar{

    background-color:#738290;

}

.navbar a{

    color:white !important;

}

.title{

    font-family:'Gloock', serif;

    font-size:3rem;

}

.sub-title{

    font-family:'Gloock', serif;

    margin-bottom:15px;

}


section{

    padding:60px 20px;

}


.card-custom{

    background:#E4F0D0;

    border-radius:15px;

    padding:20px;

    margin-bottom:20px;

}


.section-img{

    width:100%;

    border-radius:15px;

}


.device-img{

    width:100%;

    height:200px;

    background:#C2D8B9;

    border-radius:15px;

    display:flex;

    align-items:center;

    justify-content:center;

    color:white;

    font-size:14px;

.navbar a {
  color: #FFFCF7 !important;
}

.navbar.scrolled {
  background: #C2D8B9 !important;
}

h1{
  font-family: Gluten;
    font-size: 60px;
 }

.sub-title{
    font-family: Gluten;
    font-size: 45px;

}

body {
   font-family: Gloock, cursive;
  background-color: #FFFCF7`;
}

.smaller-title{
    font-family: Gluten;
    font-size: 35px;
}

.sub-heading{
  font-family: Gloock;
    font-size: 25px;
}

img{
  widith: 250px;
  height:250px;
}

.center{
  text-alignment: center;
}
